{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourcegroups/sqlcrudtest-4198?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Japan East\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-4198\": \"2016-09-19 23:40:49Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198\",\r\n  \"name\": \"sqlcrudtest-4198\",\r\n  \"location\": \"japaneast\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-4198\": \"2016-09-19 23:40:49Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"version\": \"12.0\",\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\"\r\n  },\r\n  \"location\": \"Japan East\",\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  },\r\n  \"id\": \"/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286\",\r\n  \"name\": \"sqlcrudtest-4286\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Japan East\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-4286.database.windows.net\",\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"externalAdministratorLogin\": null,\r\n    \"externalAdministratorSid\": null,\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286/databases/sqlcrudtest-7331?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Japan East\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2016-09-19T16:41:32.504-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286/databases/sqlcrudtest-7331/operationResults/33e0ddc3-2f44-4e98-8e4e-1ad604fe7484?api-version=2014-04-01-Preview"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286/databases/sqlcrudtest-7331/azureAsyncOperation/33e0ddc3-2f44-4e98-8e4e-1ad604fe7484?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286/databases/sqlcrudtest-7331/azureAsyncOperation/33e0ddc3-2f44-4e98-8e4e-1ad604fe7484?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"33e0ddc3-2f44-4e98-8e4e-1ad604fe7484\",\r\n  \"status\": \"Succeeded\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286/databases/sqlcrudtest-7331/azureAsyncOperation/33e0ddc3-2f44-4e98-8e4e-1ad604fe7484?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286/databases/sqlcrudtest-7331?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/resourceGroups/sqlcrudtest-4198/providers/Microsoft.Sql/servers/sqlcrudtest-4286/databases/sqlcrudtest-7331\",\r\n  \"name\": \"sqlcrudtest-7331\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"Japan East\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"e230fc45-efd8-4dc0-8ace-4a1845ef3fc6\",\r\n    \"edition\": \"Standard\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"S0\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"268435456000\",\r\n    \"creationDate\": \"2016-09-19T23:41:32.787Z\",\r\n    \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveName\": \"S0\",\r\n    \"defaultSecondaryLocation\": \"Japan West\",\r\n    \"earliestRestoreDate\": \"2016-09-19T23:52:00.247Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14972"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDQxOTgtSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDQxOTgtSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14975"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/e923fb9d-0d25-441b-811e-815b5ff5f235/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDQxOTgtSkFQQU5FQVNUIiwiam9iTG9jYXRpb24iOiJqYXBhbmVhc3QifQ?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "RunTestInNewResourceGroup": [
      "sqlcrudtest-4198"
    ],
    "RunTestInNewV12Server": [
      "sqlcrudtest-4286"
    ],
    "TestCreateDropDatabase": [
      "sqlcrudtest-7331"
    ]
  },
  "Variables": {
    "SubscriptionId": "e923fb9d-0d25-441b-811e-815b5ff5f235"
  }
}